
/*========================================================== TODO- Variables globales=====================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #F6F6F6;
}

h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /* overflow: hidden; */

}

.contenedor1{
    width: 90%;
   /*  background: #c96609; */
    max-width: 1000px;
    margin: auto;
    padding: 60px 0;
    overflow: hidden;
}

h1{
    font-size: 50px;
}

section[id]{
    scroll-margin-top: 80px;
}

html{
    scroll-behavior: smooth;
}

/*====================================TODO - SECCION ESTILOS AL NAV DEL MENU========================================*/

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
    background: #1FDE82;
    
}

nav{
    
    width: 100%;
    height: 80px;
    background: #ffff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;

}

.nav .logo{
   /*  border: 1px solid yellow; */
    height: 100%;

}

.nav .logo img{
    /* border: 1px solid pink; */
    height: 100%;
    vertical-align: top;
}

.enlaces-header{
    font-weight: 300; 
}


/*==ESTILO DE COLOR AL LINK FIRST CHILD DEL MENU POR DEFECTO==*/

.nav .enlaces-header .selected{
    background: #1FDE82;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.nav .enlaces-header .selected:hover{
    color: #fff;
}

/*=========ENLACES DEL MENU==========*/

.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    /* background: blueviolet; */
}

.nav .enlaces-header a:hover{
    color: #1FDE82;
    font-weight: 300;
    /* border-bottom: 1px solid #1FDE82; */
}

/*==ESTILOS DE ETIQUETA (PRONTO) SUPERIOR DE TEXTO==*/


span.menu-label{  
    letter-spacing: .3px;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    padding: 2px 4px;
    
}

.menu-label{
    color: #fff;
    position: absolute;
    bottom: 95%;
    display: inline-block;
    margin-left: -10px;
    text-transform: uppercase;
    vertical-align: middle;
    z-index: 100;
    background-color: #1FDE82;
}

.menu-label-primary::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 0;
    border-right-width: 7px;
    border-left-width: 0;
    border-right-color: transparent!important;
    border-color: #1FDE82;
    
}


/*==TRANSICIONES EN MENU =====> EFECTO LINEA EN LOS LINKS DEL MENU==*/

.enlaces-header a:after{
    content: '';
    position: absolute;
    display: block;
    background: #1FDE82;
    width: 0;
    height: 2px;
    transition: width .4s cubic-bezier(.175,.885,.32,1.15);
}

.enlaces-header a:hover:after{
    width: 100%;
}



/*==ESTILOS MENU HAMBURGUESA==*/

.hamburger{
    width: 80px;
    height: 80px;
    display: none;
    /* background: #236363; */
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /* transition: color 0.5s ease-in; */
}

.hamburger > i{
    font-size: 25px;
    line-height: 80px;
}

.hamburgerclose{
    border: 1px solid  #1FDE82;
    width: 80px;
    height: 80px;
    cursor: pointer; text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.hamburgerclose #spn1, #spn2{
    content: '';
    background: #1FDE82;
    width: 30px;
    height: 5px;
    position: absolute;
    
}

#spn2{
    top: 30px;
}

.hamburgerclose #spn1{
    transform: rotate(140deg);
}

.hamburgerclose #spn2{
    top: 38px;
    transform: rotate(-140deg);
}



/*=================================================TODO - SECCION DEL MAIN=====================================*/


.contenido-header{
    /* border: 1px solid blue; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img{
    width: 550px;
    animation: ease-in animate 1s;
}

@keyframes animate{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 50px;
}

.textos-header p{
    font-weight: 350;
    margin-top: 1px;
    color: #0b0e0b;
}

.textos-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: block;
    background: #1FDE82;
    color: #ffff;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .46);
}


/*=================================================TODO - SECCIÓN ACERCA DE================================*/

.titulo{
    
    font-size: 50px;
}

/* .about-us{
    border: 1px solid orange;
} */

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    width: 29%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    
    font-size: 30px;
    color: #ffff;
    background: #1FDE82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    /* box-shadow: 0px 8px 32px rgba(0, 15, 10, .2); */
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;

}

.articulo>p{
    font-weight: 380;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;  
}

.articulo>a{
    color: #5D6678;
    font-weight: 800;
    text-decoration: none;
}

.articulo>a:hover{
    color:#1FDE82;
    transition: color .5s;
    border-bottom: 1px solid #1FDE82;
}

/*======================================TODO - SECCION DE QUESTIONS============================================*/

h3{
    font-size: 40px;
    font-weight: 500;
}

.questions{
    /* border: 1px solid blue; */
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img{
    width: 550px;
}

.textos-question{
    margin: 0 0 0 30px;
}

.textos-question p{
    font-weight: 300;
    margin-top: 14px;
    color: #5D6678;
}

.textos-question a{
    margin: 20px 0 0 0;
    width: 130px;
    display: inline-block;
    text-decoration: none;
    background: #1FDE82;
    color: #ffff;
    padding: 12px 0;
    border-radius: 5%;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
    font-size: 14px;
    font-weight: 400;
}

/*====================================TODO - SECCION DE RESULTADOS DE PROYECTOS DE EXPERIENCIA======================*/

.results{
    background: #2570ff;
    padding-top: 30px;
}

.conten-results{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #ffff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
    
}

.numbers .number h4{
    color: #ffff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;
    text-align: center;
}

.results-text h4{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.results-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text>a{

    border: 1px solid #fff;
    display: inline-block;
    width: 130px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.results-text>a:hover{
    border: 2px solid #fff;
    font-weight: 800;
}

/*============================================TODO - SECCION DE SKILSS================================= */

.services{
    display: flex;
    justify-content: space-between;
}

.services img{
    width: 500px;
    /* box-shadow: 0 8px 32px rgba(4, 43, 24, 0.46); */
}

.box-skills{
    margin: 30px 30px 0 30px;
    /* border: 1px solid magenta; */
    
}

.box-skills h4{
    font-size: 20px;   
    background: rgba(255, 255, 255, 0.46);
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 15px;
    color: #000;
    box-shadow: 0 2px 2px rgba(61, 58, 58, 0.46);
    
}

.box-skills i{
    color: #1FDE82;
    margin-right: 15px;
}

/*============================================TODO - SECCION FOOTER===========================================*/

footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

footer .partFooter{
    
    width: 20%;
    text-align: center;
    /* background: #1FDE82; */
}

.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 450;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 500;
    margin-bottom: 15px;
    transition: color .3s ease-in-out ;
}

.partFooter a:hover{
    color: #1FDE82;
}

footer img {
    width: 200px;
    height: 80px;
    /* background: #1FDE82; */
    margin-top: 10px ;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}

.copyright{

    display: block; text-align: center; margin-top: 05px; bottom: 0; background: #454545;
    color: rgba(255, 255, 255, 0.7); padding: 20px;
}


/* ==================================================MEDIDAS PARA TABLETS ===================================================*/


@media screen and (max-width:1050px) and (min-width: 1025px){
   
    .enlaces-header{       
        margin-right: 40px ;
    }
    

    .nav .logo img{
        /* border: 1px solid pink; */
        height: 100%;
        vertical-align: top;
        margin-left: 30px;
    }
}


@media screen and (max-width:1024px){
    
    
    .contenedor{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;

    }
    
    .nav .logo img{
        /* border: 1px solid pink; */
        height: 100%;
        vertical-align: top;
        margin-left: 30px;
    }

    .nav .enlaces-header{
        position: fixed;
        background: #73C8A9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        text-transform: uppercase;
        clip-path: circle(0.0% at 100% 0);
        transition: ease-in-out 0.5s;
    }

    .nav .enlaces-header>a{ 
        color: #fff; 
        font-weight: 400;
    }

    .nav .enlaces-header>a:hover{ 
        color: #1FDE82;         
    }

    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }

    .hamburger{
        display: block;
        transition: ease-in-out 0.8s;
    }

    span.menu-label{  
        display: none;
    }

    .textos-header h1{
        font-size: 40px;
    }

    .textos-header img{
        width: 450px;
    }

    .contenedor{
        overflow: hidden;
    }


    /* .hamburgerclose{
        display: flex;
    } */


    /*  .fa-bars:before{
        display: none;
    } */

}

@media screen and (max-width: 912px) {
    

    /*===========ESTILOS AL CONTENIDO DEL MAIN=============*/

    .contenido-header{

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 720px;
    }

    .contenido-header img{
        width: 450px;
    }

    .textos-header{
        margin: 0;
    }

    .textos-header h1{
        font-size: 40px;
    }

    .textos-header p{
        text-align: center;
    }

    .textos-header a{
        margin: 50px auto;
    }

    /*===========ESTILOS AL CONTENIDO DEL ABOUT US=============*/


    .titulo{
        font-size: 40px;
        /* text-align: center; */
    }

    .articulo{
        width: 45%;
    }

    
    /*===========ESTILOS AL CONTENIDO DEL QUESTIONS=============*/


    .questions{
        height: 720px;
        flex-direction: column;
        justify-content: space-evenly;
    } 

    .textos-question a{
        margin-top: 40px;
    }

    .textos-question h3{
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 25px;
    }
    
    .questions>img{
        margin-top: -100px;
        width: 450px;
    }

     /*===========ESTILOS AL CONTENIDO DEL RESULTS=============*/

    .conten-results{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .results-text>a {
        margin-bottom: 50px;
    }

    .numbers{
        width: 100%;
    }


    /*===========ESTILOS AL CONTENIDO DEL SERVICES=============*/

    .services{
        flex-direction: column;
        align-items: center;
        
    }

    .services img{
        width: 450px;
    }

    .box-skills{
        margin-top: 50px;
        /* width: 100%; */
        
    }
    
    .box-skills h4{
        width: 500px;
       /*  float: left;
        align-items: center;
        margin-bottom: 20px; */
    }

     /*===========ESTILOS AL CONTENIDO DEL FOOTER=============*/    

    footer{
        justify-content: space-evenly;
    }

    .imgfooter{
        width: 100%;
        text-align: center;
    }

    footer img{
        /* margin: 0 0 40px 0; */
        display: block;
        margin: 0 auto 40px;   
    }

    footer .partFooter{
        width: 40%;
        margin-bottom: 25px;
    }


}

@media screen and (max-width: 600px) {



    /*===========ESTILOS AL CONTENIDO DEL MAIN=============*/

    .textos-header h1 {
        font-size: 35px;
    }
    
    .textos-header p {
        font-size: 15px;
    }

    /*===========ESTILOS AL CONTENIDO DEL ABOUT=============*/


    .titulo{
        font-size: 30px;
    }

    .articulo h3{
        font-size: 18px;
    }

    .articulo p{
        font-size: 14px;
    }

    .articulo>a{
        font-size: 15px;
    }
    
    /*===========ESTILOS AL CONTENIDO DEL QUESTIONS=============*/
    
    .textos-question h3{
        font-size: 30px;
    }

    .textos-question p {
        font-weight: 300;
        font-size: 15px;
    }

    /*===========ESTILOS AL CONTENIDO DEL RESULTS=============*/


    .numbers .number h4{
        font-size: 30px;
        text-align: center;
    }

    .numbers .number{
        width: 100%;
    }

    .results-text h4 {
        color: #fff;
        font-size: 30px;
    }

    .results-text p{
        font-size: 15px;
    }


    /*===========ESTILOS AL CONTENIDO DEL SERVICES=============*/

    .box-skills h4{
        font-size: 16px; 
    }

    /*===========ESTILOS AL CONTENIDO DEL FOOTER=============*/

    .partFooter h4{
        font-size: 16px;
    }

    .partFooter a{
        font-size: 14px;
    }


}

@media screen and (max-width: 521px) {

    /*===========ESTILOS AL CONTENIDO DEL MAIN=============*/
        

    .textos-header{
        margin-top: 80px;
    }

    .contenido-header{
        height: 550px;
    }

    .textos-header h1 {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }

    .contenido-header img{
        width: 250px;
    }
        
    /*===========ESTILOS AL CONTENIDO DEL ABOUT=============*/

    .titulo{
        font-size: 25px;
    }

    .articulo{
        width: 100%;
    }

    .articulo h3{
        text-align: center;
    }

    .articulo>a{
        display: block;
        text-align: center;  
    }

    /*===========ESTILOS AL CONTENIDO DEL QUESTIONS=============*/

    .questions{
        height: 580px;
    }

    .questions img{
        margin-top: -10px;
    }

    .textos-question h3{
        font-size: 25px;
    }

    .questions img{
        width: 250px;
    }

    /*===========ESTILOS AL CONTENIDO DEL RESULTS=============*/

    
    .numbers .number h4{
        font-size: 30px;
        text-align: center;
    }

    .numbers .number{
        width: 100%;
    }

    .results-text{
        width: 95%;
    }

    .results-text h4{
        font-size: 25px;
    }

    .results-text p{
        margin-bottom: 45px;
    }

    /*===========ESTILOS AL CONTENIDO DEL SERVICES=============*/
    
    .services img{
        width: 250px;
    }

    .box-skills{
        width: 100%;
    }

    .box-skills h4{
        display: block;
        width: 95%;
        font-size: 16px; 
    }


    /*===========ESTILOS AL CONTENIDO DEL FOOTER=============*/


    .partFooter h4{
        font-size: 16px;
    }

    .partFooter a{
        font-size: 14px;
    }

    
}

@media screen and (max-width: 499px) {

    .numbers .number{
        width: 100%;
    }

    
    .numbers .number h4{
        font-size: 30px;
        text-align: center;
    }

    .numbers .number{
        width: 100%;
    }

}




